.message,
.error {
  color: rgb(255, 0, 0);
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.message {
  color: green;
}

.error {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  margin-top: auto;
  background-color: #ff4081;
  padding: 10px;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.footerContainer {
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.blogForm {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-top: 1rem;
}

.formField {
  width: 250px;
}

.blogLink {
  text-decoration: none;
  font-style: italic;
}

.blogLink:hover {
  color: #ff4081;
  transition: 0.3s ease-in-out;
}
